[Unit]
Description=CTS3 Firmware service
After=network.target init_cts3.service
StartLimitIntervalSec=0

[Service]
Type=simple
#Restart=always
#RestartSec=1
User=root
ExecStart=/usr/bin/tgapp

[Install]
WantedBy=multi-user.target
